/* Definição de variáveis de cor */
:root {
    --primary-background-color: #f6f8fc;
    --primary-text-color: #333;
    --dark-mode-background-color: #333;
    --dark-mode-text-color: #fff;
  }
  
  /* Estilos padrão para o modo claro */
  body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
  }
  
  .content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: var(--primary-background-color);
  }
  
  /* Estilos para o modo escuro */
  .dark-mode {
    --primary-background-color: var(--dark-mode-background-color);
    --primary-text-color: var(--dark-mode-text-color);
  }
  
  .dark-mode .content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: var(--primary-background-color);
  }